aruco-1.2.4/
aruco-android-read-only/
Compile_Aruco/
Eclipse Workspaces/
fmodapi44446android/
Java-WebSocket-master/
NDK/
opencv/
OpenCV-2.4.9-android-sdk/
proclipsing-read-only/
QtTrial/
Eclipse opencv android/
fmodworkspace/
mapsApiDemo/
mapsAPIProject/
MediaPlayerSurface/
NDK/
opencv/
wikitude/
WikitudeSDK_Android_4_0_3/
iamgesForComposite/
switchBetweenActivities/
HiddenCitiesInterface/
vuforia-sdk-android-3-0-9/
vuforiaWorkspace/
copy_to_phone/hiddenCities/video/
copy_to_phone/hiddenCities/Vuforia/video/